/* Definir las variables de color para los temas claro y oscuro */
:root {
    --color-fondo-claro: #ffffff;
    --color-fondo-oscuro: #121212;

    --color-texto-claro: #000000;
    --color-texto-oscuro: #ffffff;

    --color-boton-claro: #007bff;
    --color-boton-oscuro: #6200ea;

    --color-boton-hover-claro: #0056b3;
    --color-boton-hover-oscuro: #3700b3;
}

/* Estilos para el tema claro */
.temaClaro {
    background-color: var(--color-fondo-claro);
    color: var(--color-texto-claro);
}

.temaClaro button{
    background-color: var(--color-boton-claro);
    padding: 5px;
}

.temaClaro button:hover{
    background-color: var(--color-boton-hover-claro);
    cursor: pointer;
}
/*FIN Estilos para el tema claro */

/* Estilos tema oscuro */
.temaOscuro {
    background-color: var(--color-fondo-oscuro);
    color: var(--color-texto-oscuro);
}

.temaOscuro button{
    background-color: var(--color-boton-oscuro);
    padding: 5px;
}

.temaOscuro button:hover{
    background-color: var(--color-boton-hover-oscuro);
    cursor: pointer;
}
/*FIN Estilos tema oscuro */