.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 10px;
    width: 700px;
}
